<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"/>
    <% if (customDomain) { %>
        <link rel="stylesheet" href="/css/style.css"/>
    <% } else { %>
        <link rel="stylesheet" href="/<%= name %>/css/style.css"/>
    <% } %>
    <link  rel="stylesheet"  href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
</head>
<body>
<div id="root"></div>
<% if (customDomain) { %>
    <script src="/dist/client.bundle.js"></script>
<% } else { %>
    <script src="/<%= name %>/dist/client.bundle.js"></script>
<% } %>
</body>
</html>